body {
    margin: 20px;
    padding:0;
}
h1 {
    font-size: 75% larger;
    color: blue;
    text-align: center;
}

h2 {
    width: 33.33%;  
    position:relative;
    left: 66.66%;
    margin-bottom: 10px;
    text-align: center;
    border-style: solid; 
    border-color: black;
    
}

p {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

#food_chicken{
  background-color: rgb(230, 161, 127)
}

#food_sushi{
  background-color: rgb(221, 223, 122)
}

#food_beef{
  background-color: rgb(243, 70, 70);
  color: whitesmoke;
}

/*         "*" is the selector that effects all elements
           border box means: content+padding+border = full width that I declare*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.section {
    margin: 20px;
    border: 1px solid black;
    background-color: darkgray;
  }

/* Simple Responsive Framework. */
.row {
    width: 100%;
  }

  /********** Desktop Version **********/
@media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
}

  
  /********** Tablet Version **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      float: left;
      width: 50%;
    }
    .col-md-12 {
      float: left;
      width: 100%;
    }
}

  /* Mobile Version = Is the "else"-Option = aplies when other conditions do not take effect  */